.css-vmly3-MuiButtonBase-root-MuiPaginationItem-root {
  border: 1px solid #a6c039 !important;
}

.general-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.return-container {
  display: flex;
  justify-content: center;
}
.return {
  font-family: var(--main-font);
  color: var(--main-text-color);
}

.general-container .filters-container > * {
  margin: 1rem auto;
}
.search-clear-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;

  width: 90%;
  margin: 0 auto;
  max-width: 1400px;
}

.pagination-container {
  width: 100%;
}
.pagination-container > * {
  display: flex;
  justify-content: center;
}

.cards-container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  max-width: 1400px;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
}
