* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  margin: 1rem 0;
  font-size: 3rem;
  font-family: var(--title-font);
  color: var(--main-color);
  text-shadow: var(--rick-and-morty-effect);
  text-align: center;
}
/*A*/
body {
  background-color: #7d7d7d;
}
