@import url("./css-general.css");

* {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 3rem;
  font-family: var(--main-font);
  color: var(--main-color);
  text-shadow: var(--rick-and-morty-effect);
  text-align: center;
}

body {
  background-color: grey;
}
